.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.panel__container {
  background: rgb(27, 20, 30);
  padding: 10px;
  width: 100%;
  margin: auto;
  max-width: 25em;
  border-radius: 30px;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 15px;
  text-align: center;
}

span {
  font-size: 12px;
}

ul {
  list-style-position: none;
  margin: 0;
  padding: 0;
}

li {
  border: dashed green 2px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.form__item {
  margin: auto;
  padding: 20px;
  width: 340px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 20px;
}

.input__item {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus {
    border-color: cornflowerblue;
  }
}
.button__submit {
  padding: 10px 20px;
  width: auto;
  background: black;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

.contact__list {
  list-style: none;

  .contact__item {
    font-size: 14px;
    font-style: normal;
  }
}
